{
    "plugins": [
        "prettier-plugin-blade",
        "prettier-plugin-organize-imports",
        "prettier-plugin-tailwindcss"
    ],
    "tailwindStylesheet": "./resources/css/cubeta-starter.css",
    "overrides": [
        {
            "files": [
                "*.blade.php"
            ],
            "options": {
                "parser": "blade"
            }
        }
    ]
}
